@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

body {
    font-family: 'Lexend Deca', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.page-container {
    flex: 1;
}

.container .table-dark {
    background-color: #7e3f43;
}

.container h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #7e3f43;
    font-weight: 700;
}

.table-wrapper {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
    padding: 15px;
    background-color: #fff;
}

.table th,
.table td {
    text-align: center;
    vertical-align: middle;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9eaea;
}

.status-accepted {
    color: #fff;
    background-color: #994d51;
    padding: 4px 8px;
    border-radius: 5px;
    font-weight: 600;
}

.status-rejected {
    color: #fff;
    background-color: #7e3f43;
    padding: 4px 8px;
    border-radius: 5px;
    font-weight: 600;
}

.status-pending {
    color: #fff;
    background-color: #fd7e14;
    padding: 4px 8px;
    border-radius: 5px;
    font-weight: 600;
}

.btn-action {
    padding: 4px 10px;
    font-size: 0.9rem;
}

footer {
    background-color: #994d51;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}